// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  background-color: #1abc9c;
  
  .navbar-brand {
    color: #c0392b;
  }
}

.navbar-default .navbar-nav {
  li a {
    color: #2c3e50;
  }
}

.tweet {
  border: 1px solid teal;
  background-color: azure;
  padding: 10px 20px;
  margin-bottom: 10px;
  
  img {
    float: left;
    margin-right: 10px;
  }
  
  .body {
    font-size: 18px;
  }
  
  .email .time {
    color: grey;
  }
}